@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: #000;
    overflow: hidden;
}
section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}
section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
   background: linear-gradient(#000,#0f0,#000);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%,100%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(100%);
    }
}


section span{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
     height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
    

}
section span:hover{
   background: #0f0;
   transition: 0s;
    
}
section .sginin{
    position: absolute;
    width: 400px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}
section .sginin .content{
   position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
section .sginin .content h2{
    color: #0f0;
    text-transform: uppercase;
    font-size: 2em;
    
}
section .sginin .content .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
section .sginin .content .form .inputbx{
    position: relative;
    width: 100%;
}
section .sginin .content .form .inputbx input{
    position:relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color:#fff;
    font-size: 1em;
    font-weight: 500;
}
section .sginin .content .form .inputbx i{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}
.sginin .content .form .inputbx input:focus ~ i,
.sginin .content .form .inputbx input:valid ~ i{
    transform: translateY(-7.5px);
    font-size: 0.8em;
}
.sginin .content .form .link{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}
.sginin .content .form .link a{
    color: #aaa;
    text-decoration: none;
    
}
.sginin .content .form .link a:nth-child(2){
    color: #0f0;
    font-weight: 200;
}
.sginin .content .form .inputbx input[type="submit"]{
    background: #0f0;
    color: #111;
    font-weight:400;
    cursor: pointer;
    padding: 10px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
@media(max-width: 900px){
   section span{
    position: relative;
    display: block;
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
   

}
    
}
@media(max-width: 600px){
   section span{
    position: relative;
    display: block;
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
   

}
    
}

